.navbar{
    width: 90%;
    margin: auto;
}
.navbar__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.navbar__links{
    display: flex;
    align-items: center;
   
}
.navbar__links p{
    margin: 0px 35px 0px 0px ;
}
.navbar__links p a{
    text-decoration: none;
    color: #666666;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
}
.navbar__links .active{
    color: black; 
    font-weight: 700;
}

.navbar__logo{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.5px;
    color: #666666;
    margin-right: 100px;
    text-align: center;
}
.navbar__logo span{
    color: #FF9900;
}

.navbar__search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__search p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #666666;
}
.navbar__search i{
    margin-left: 10px;
    font-size: 20px;
    color: #2A2A2A;
}


/* Navbar menu styling */

.navbar__menu{
    display: none;
    position: relative;
    margin-top: 16px;
}
.navbar__menu-container{
    display: flex;
    color: white;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background-color: #2A2A2A;
    padding: 32px;
    top: 40px;
    right: 0;
    position: absolute;
    z-index: 999;
    margin-top: 40px;
    min-width: 210px;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.navbar__menu-container p{
    margin: 16px 0;
}
.navbar__menu_search{
    display: none;
}
.navbar__menu-container p a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
}
.navbar__menu svg{
    cursor: pointer;
    margin-top: 15px;
}
@media screen and (max-width:1050px) {
    .navbar__links{
        display: none;
    }
    .navbar{
        padding: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar__menu{
        display: flex;
    }
}
@media screen and (max-width:800px) {
    .navbar{
        padding: 2rem ;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
@media screen and (max-width:550px) {
    .navbar{
        padding: 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .navbar__search{
        display: none;
    }
    .navbar__menu-container{
        top: 20px;
    }
    .navbar__menu-container_links{
        display: block;
    }
    .navbar__menu_search{
        display: inline-block;
    }
    .navbar__search-content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar__search-content i{
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .navbar__search-content p{
        font-size: 13px;
        font-weight: 300;
    }
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-12-20 7:21:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}